* {
    font-family: rockwell;
    text-decoration: none;
    color: #eef0eb;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f2531;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #eef0eb;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cbccc7;
  }

.container {
    display: grid;
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 55px;
    background: #153243;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    width: 80%;
    margin-inline: 10%;
    display: flex;
    align-items: center;
}

nav ul {
    float: right;
    margin-left: auto;
}

.logo img {
    height: 41px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-inline: 5px;
}

nav ul li a{
    color: #eef0eb;
    padding-inline: 7px;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #D19C1D;
}

.main {
    position: static;
    width: 100%;
    min-height: 95vh;
    background: #284b63;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.text {
    text-align: left;
    width: 40vw;
    margin: 10% 30%;
}

p {
    padding: 10px;
}

.c {
padding: 0;
padding-inline: 5px;
}

.comp li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 30px;
    padding: 7px;
    background: #D19C1D;
    border-radius: 2px;
    position: relative; left: 10px;
    margin-bottom: 7px;
}

.text a{
    color: #D19C1D;
}

.text a:hover{
    color: #be8c16;
}

.titre {
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: #D19C1D
}

.titrecontact {
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #D19C1D
}

.soustitre {
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
}

.projets_img {
    border: 5px solid #eef0eb;
    height: auto;
    width: 40vh;
}

.cs50x {
    position: relative;
}

.footer {
    position: static;
    bottom: 0;
    background: #153243;
    width: 100%;
    padding-top: min(1vh, 10px);
    padding-bottom: min(1vh, 10px);
    text-align: center;
    z-index: 2;
}

.footer_links img{
    height: 25px;
    width: auto;
}

.copyright {
    font-size: 10px;
    color: #284b63;
}

@media screen and (max-width: 1800px) {
    .text {
        min-width: 50vw;
        margin: 15% 25%;
    }
  }

@media screen and (max-width: 1500px) {
    .text {
        min-width: 54vw;
        margin: 15% 23%;
    }
  }

@media screen and (max-width: 1300px) {
    .text {
        min-width: 60vw;
        margin: 15% 20%;
    }

    .projets_img {
        height: auto;
        width: 35vh;
    }
  }

@media screen and (max-width: 1100px) {
    .text {
        min-width: 60vw;
        margin: 20% 20%;
    }
  }

@media screen and (max-width: 1000px) {
    .main {
        font-size: 25px;
    }

    .titre {
        font-size: 50px;
    }
    
    .titrecontact {
        font-weight: bold;
        font-size: 42px;
        text-decoration: underline;
        text-decoration-color: #D19C1D
    }
  }

@media screen and (max-width: 900px) {
    nav ul li a{
        padding-inline: 4px;
    }

    .projets_img {
        height: auto;
        width: 30vh;
    }
  }

@media screen and (max-width: 800px) {
    nav ul li{
        padding-top: 10px;
        padding-bottom: 11px;
        padding-inline: 2px;
    }

    nav ul li a{
        padding-inline: 2px;
    }

    .text {
        min-width: 70vw;
        margin: 25% 15%;
    }
  }

  @media screen and (max-width: 700px) {
    .header {
        height: 50px;
    }

    nav {
        width: 90%;
        margin-inline: 5%;
    }

    .logo img {
        height: 35px;
    }

  }

@media screen and (max-width: 500px) {
    .header {
        height: 40px;
    }

    nav {
        width: 94%;
        margin-inline: 3%;
    }

    nav ul li{
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 11px;
        padding-inline: 1px;
    }

    .logo img {
        height: 30px;
    }

    nav ul li a{
        padding-inline: 1x;
    }

    .text {
        min-width: 84vw;
        margin: 20% 8%;
    }

    .titre {
        font-size: 30px;
    }
    
    .titrecontact {
        font-size: 25px;
    }
    
    .soustitre {
        font-size: 20px;
    }

    .text {
        font-size: 20px;
    }

    .comp li{
        font-size: 20px;
        padding: 4px;
        border-radius: 2px;
        margin-bottom: 5px;
    }

    .projets_img {
        width: 35vh;
    }
  }

@media screen and (max-width: 400px) {
    .header {
        height: 40px;
    }

    nav {
        width: 96%;
        margin-inline: 2%;
    }

    nav ul li{
        font-size: 17px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-inline: 1px;
    }

    .logo img {
        height: 25px;
    }

    nav ul li a{
        padding-inline: 1x;
    }

    .text {
        min-width: 88vw;
        margin: 20% 6%;
    }

    .titre {
        font-size: 30px;
    }
    
    .titrecontact {
        font-size: 25px;
    }
    
    .soustitre {
        font-size: 20px;
    }

    .text {
        font-size: 20px;
    }

    .comp li{
        font-size: 20px;
        padding: 4px;
        border-radius: 2px;
        margin-bottom: 5px;
    }

    .projets_img {
        width: 45vh;
    }
  }
