* {
    font-family: rockwell;
    text-decoration: none;
    color: #eef0eb;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: auto;
    height: fit-content;
    background: #153243;
}

.logo img {
    height: 55px;
    float: left;
    padding: 10px;
    vertical-align: middle;
}

nav ul {
    float: right;
    padding: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    padding-inline: 5px;
}

nav ul li a{
    background: #eef0eb;
    border: solid 1px #eef0eb;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: #284b63;
}

nav ul li a:hover {
    color: #eef0eb;
    background: #153243;
}

.main p {
    text-align: center;
}

.main {
    background: #284b63;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

.footer {
    background: #153243;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.footer_links img{
    height: 20px;
    width: auto;
}

.copyright {
    font-size: 10px;
    color: #284b63;
}